
/*/*posicion del contenido donnde se mostrarn la imagenes*/

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(56, 37, 9);
    position: relative;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: chartreuse;
    position: top;
}
#contenido{
    position: relative;
}
